$grey: #333333;
$light-grey: #fafafa;
$light-grey-border: #eeeeee;
$light-color: #aaaaaa;

$white: #ffffff;

//mostly used for text and link
$blue: #0a84c1;

$yellow: #ffae00;

$green: #47a216;

// Navigation;
$nav-background: $grey;
$nav-text: $white;
$nav-link-active: bold;
$icon-width: 40px;

//Booking format
$label-grey: #515050;

//Upgrade Pricing
$price-yellow: $yellow;

//summary
$price-green: $green;
