.page-title {
  text-align: center;
  padding: 1.5rem 0;
  margin: 0;
}

.page-title-thick {
  font-size: 2.5rem;
  text-align: left;
  padding: 0;
  margin: 0;
  font-weight: bold;
  line-height: 1.2;
}
