.details {
  position: relative;

  .content {
    padding-left: 0.5em;
  }

  .column-3 {
    width: 30.25%;
    position: relative;
  }

  .column-4 {
    width: 40.25%
  }

  .column-5 {
    width: 65.75%
  }

  h4 {
    color: $blue;
    font-weight: bold;
    line-height: 1;
    margin: 0.3em 0;
  }

  p {
    padding: 0;
    font-size: 0.9em;
  }

  img {
    max-width: none;
    width: 100%;
  }

  .confirm-wrap {
    text-align: center;
  }
}

@media only screen and (max-width: 1400px) {
  .details {
    h4 {
      font-size: 1.3rem;
    }
  }
}
